* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.light-container {
    display: flex;
    gap: 50px;
}

.light {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    animation: intensity 0.5s ease-in-out;
}

@keyframes intensity {
    from {
        opacity: 0.6;
    }
    to {
        opacity: 1;
    }
}