@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

body {
    font-family: 'Mulish', sans-serif;
    padding: 20px 50px;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: #03045e;
    margin-bottom: 40px;
}

.io-txt {
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 14px;
}

.num-container {
    height: 100px;
    padding: 20px;
    font-size: 5em;
    word-wrap: break-word;
}

.binary-num {
    color: #1b4965;
    background-color: #bee9e8;
    margin-bottom: 50px;
    overflow-y: scroll;
}

.decimal-num {
    color: #03045e;
    background-color: #48cae4;
    overflow-y: scroll;
}

.convert {
    cursor: pointer;
    font-family: inherit;
    display: block;
    margin: 50px auto 30px;
    background-color: #03045e;
    color: white;
    padding: 10px 30px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

@media (max-width: 50em) {
    body {
        padding: 20px 10px;
    }

    h1 {
        font-size: 32px;
    }

    .io-txt {
        font-size: 20px;
    }

    .num-container {
        height: 50px;
        padding: 10px;
        font-size: 2.5em;
    }
}





